<div class="hero-unit">
  <h2>ブックマーク</h2>
  <p>はてぶを真似て作ったサイト</p>
</div>
<% @entries.each do |entry| %>
<div class="row-fluid show-grid">
  <div class="span9">
    <h3><%= link_to entry.title, entry.url, :target => "_blank" %></h3>
  </div>
</div>
<% end %>
